In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv('data2.csv')

In [4]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [5]:
df.sort_values("Year")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
7,Hrithik Roshan,War,2019,Action,475,6.5
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2

In [6]:
df.sort_values("Year", ascending=False)

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
2,Aamir Khan,Dangal,2016,Biography,2024,8.4

In [7]:
df2 = df.sort_values(["Year", "IMDb"]).copy()

In [8]:
#df2.reset_index(drop=True, inplace=True) #Drop: Not generate a new index column, inplace = change into the orginal dataset

In [9]:
df2 #Changes has been occured using inplace=True

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2

In [10]:
df2.sort_index() #sort by index

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [11]:
df2["Rank"] = df2["IMDb"].rank(ascending=False, method="dense")

In [12]:
df2

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb,Rank
2,Aamir Khan,Dangal,2016,Biography,2024,8.4,1.0
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0,9.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1,8.0
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0,6.0
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5,4.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3,2.0
7,Hrithik Roshan,War,2019,Action,475,6.5,7.0
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0,6.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2,3.0
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6,11.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9,10.0
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2,5.0

In [13]:
df2.sort_values(["Rank"])

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb,Rank
2,Aamir Khan,Dangal,2016,Biography,2024,8.4,1.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3,2.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2,3.0
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5,4.0
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2,5.0
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0,6.0
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0,6.0
7,Hrithik Roshan,War,2019,Action,475,6.5,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1,8.0
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0,9.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9,10.0
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6,11.0

In [14]:
df2.rename(columns={"Film" : "Film/Movie"}, inplace=True)

In [15]:
df2.sort_values(["Rank"])

,Actor,Film/Movie,Year,Genre,BoxOffice(INR Crore),IMDb,Rank
2,Aamir Khan,Dangal,2016,Biography,2024,8.4,1.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3,2.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2,3.0
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5,4.0
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2,5.0
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0,6.0
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0,6.0
7,Hrithik Roshan,War,2019,Action,475,6.5,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1,8.0
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0,9.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9,10.0
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6,11.0

In [16]:
df2 = df2[["Film/Movie","Actor","Year","Genre", "IMDb", "BoxOffice(INR Crore)"]]

In [17]:
df2

,Film/Movie,Actor,Year,Genre,IMDb,BoxOffice(INR Crore)
2,Dangal,Aamir Khan,2016,Biography,8.4,2024
1,Tiger Zinda Hai,Salman Khan,2017,Action,6.0,565
10,Badrinath Ki Dulhania,Varun Dhawan,2017,Romantic Comedy,6.1,201
4,Padmaavat,Ranveer Singh,2018,Historical,7.0,585
6,Stree,Rajkummar Rao,2018,Horror Comedy,7.5,180
5,Andhadhun,Ayushmann Khurrana,2018,Thriller,8.3,111
7,War,Hrithik Roshan,2019,Action,6.5,475
8,Good Newwz,Akshay Kumar,2019,Comedy,7.0,318
11,Uri: The Surgical Strike,Vicky Kaushal,2019,Action,8.2,342
3,Brahmastra,Ranbir Kapoor,2022,Fantasy,5.6,431
9,Bhool Bhulaiyaa 2,Kartik Aaryan,2022,Horror Comedy,5.9,266
0,Pathaan,Shah Rukh Khan,2023,Action,7.2,1050

In [18]:
cols = ["Actor"] + [col for col in df.columns if col != "Actor"]
df = df[cols]

In [19]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [24]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [85, 78, 92],
    'Science': [90, 82, 89],
    'English': [88, 85, 94]
}
df3 = pd.DataFrame(data)
df3

      Name  Math  Science  English
0    Alice    85       90       88
1      Bob    78       82       85
2  Charlie    92       89       94

In [26]:
melt_form = df3.melt(id_vars=["Name"], value_vars=["Math", "Science", "English"], var_name="Subject", value_name="Score")

In [27]:
melt_form

      Name  Subject  Score
0    Alice     Math     85
1      Bob     Math     78
2  Charlie     Math     92
3    Alice  Science     90
4      Bob  Science     82
5  Charlie  Science     89
6    Alice  English     88
7      Bob  English     85
8  Charlie  English     94

In [28]:
pivot_form = melt_form.pivot(index="Name", columns="Subject", values="Score")
pivot_form

Subject  English  Math  Science
Name
Alice         88    85       90
Bob           85    78       82
Charlie       94    92       89

## Exaple of pivot_table() to handle duplicates:
Suppose the DataFrame is having two Alice or Bob, with this sense we will using below addiotional (aggfunc="mean") to take mean for duplicate entries. 

For Example: 
If Alice give twice Math's paper, Paper1 = 80 and Paper2=85 then mean value will be 82.5 mark in just one column of Math represent both data point mean

In [35]:
import pandas as pd

df4 = pd.DataFrame(
    [
        ["Alice", 85, 80, 90, 88],      
        ["Bob",   78, 78, 82, 85],
        ["Charlie", 92, 92, 89, 94]
    ],
    columns=["Name", "Math", "Math", "Science", "English"]  
)

print(df4)

      Name  Math  Math  Science  English
0    Alice    85    80       90       88
1      Bob    78    78       82       85
2  Charlie    92    92       89       94

In [36]:
melt_form1 = df4.melt(id_vars=["Name"], value_vars=["Math", "Science", "English"], var_name="Subject", value_name="Score")

In [37]:
melt_form1

       Name  Subject  Score
0     Alice     Math     85
1       Bob     Math     78
2   Charlie     Math     92
3     Alice     Math     80
4       Bob     Math     78
5   Charlie     Math     92
6     Alice  Science     90
7       Bob  Science     82
8   Charlie  Science     89
9     Alice  English     88
10      Bob  English     85
11  Charlie  English     94

In [38]:
pivot_form2 = melt_form1.pivot_table(index="Name", columns="Subject", values="Score", aggfunc="mean")
pivot_form2

Subject  English  Math  Science
Name
Alice       88.0  82.5     90.0
Bob         85.0  78.0     82.0
Charlie     94.0  92.0     89.0

# Finance Example