In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv("eng1.csv")

In [4]:
df

,Round,Date,Team 1,FT,Team 2
0,1,Fri Aug 11 2017,Arsenal FC,4-3,Leicester City FC
1,1,Sat Aug 12 2017,Watford FC,3-3,Liverpool FC
2,1,Sat Aug 12 2017,West Bromwich Albion FC,1-0,AFC Bournemouth
3,1,Sat Aug 12 2017,Chelsea FC,2-3,Burnley FC
4,1,Sat Aug 12 2017,Brighton & Hove Albion FC,0-2,Manchester City FC
...,...,...,...,...,...
375,38,Sun May 13 2018,Burnley FC,1-2,AFC Bournemouth
376,38,Sun May 13 2018,Crystal Palace FC,2-0,West Bromwich Albion FC
377,38,Sun May 13 2018,Tottenham Hotspur FC,5-4,Leicester City FC
378,38,Sun May 13 2018,Huddersfield Town AFC,0-1,Arsenal FC
379,38,Sun May 13 2018,Southampton FC,0-1,Manchester City FC

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Round   380 non-null    int64
 1   Date    380 non-null    object
 2   Team 1  380 non-null    object
 3   FT      380 non-null    object
 4   Team 2  380 non-null    object
dtypes: int64(1), object(4)
memory usage: 15.0+ KB

In [6]:
df[df["Round"]==35]

,Round,Date,Team 1,FT,Team 2
334,35,Tue Apr 17 2018,Brighton & Hove Albion FC,1-1,Tottenham Hotspur FC
335,35,Wed Apr 18 2018,AFC Bournemouth,0-2,Manchester United FC
337,35,Thu Apr 19 2018,Leicester City FC,0-0,Southampton FC
338,35,Sat Apr 21 2018,West Bromwich Albion FC,2-2,Liverpool FC
339,35,Sat Apr 21 2018,Watford FC,0-0,Crystal Palace FC
340,35,Sun Apr 22 2018,Arsenal FC,4-1,West Ham United FC
341,35,Sun Apr 22 2018,Stoke City FC,1-1,Burnley FC
342,35,Sun Apr 22 2018,Manchester City FC,5-0,Swansea City FC
343,35,Mon Apr 23 2018,Everton FC,1-0,Newcastle United FC
368,35,Wed May 9 2018,Chelsea FC,1-1,Huddersfield Town AFC

In [7]:
df['Date'] = pd.to_datetime(df['Date'])

In [8]:
df

     Round       Date                     Team 1   FT                   Team 2
0        1 2017-08-11                 Arsenal FC  4-3        Leicester City FC
1        1 2017-08-12                 Watford FC  3-3             Liverpool FC
2        1 2017-08-12    West Bromwich Albion FC  1-0          AFC Bournemouth
3        1 2017-08-12                 Chelsea FC  2-3               Burnley FC
4        1 2017-08-12  Brighton & Hove Albion FC  0-2       Manchester City FC
..     ...        ...                        ...  ...                      ...
375     38 2018-05-13                 Burnley FC  1-2          AFC Bournemouth
376     38 2018-05-13          Crystal Palace FC  2-0  West Bromwich Albion FC
377     38 2018-05-13       Tottenham Hotspur FC  5-4        Leicester City FC
378     38 2018-05-13      Huddersfield Town AFC  0-1               Arsenal FC
379     38 2018-05-13             Southampton FC  0-1       Manchester City FC

[380 rows x 5 columns]

In [9]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

In [10]:
df['Year'].value_counts()

Year
2017    209
2018    171
Name: count, dtype: int64

In [11]:
df

,Round,Date,Team 1,FT,Team 2,Year,Month,Day
0,1,2017-08-11,Arsenal FC,4-3,Leicester City FC,2017,8,11
1,1,2017-08-12,Watford FC,3-3,Liverpool FC,2017,8,12
2,1,2017-08-12,West Bromwich Albion FC,1-0,AFC Bournemouth,2017,8,12
3,1,2017-08-12,Chelsea FC,2-3,Burnley FC,2017,8,12
4,1,2017-08-12,Brighton & Hove Albion FC,0-2,Manchester City FC,2017,8,12
...,...,...,...,...,...,...,...,...
375,38,2018-05-13,Burnley FC,1-2,AFC Bournemouth,2018,5,13
376,38,2018-05-13,Crystal Palace FC,2-0,West Bromwich Albion FC,2018,5,13
377,38,2018-05-13,Tottenham Hotspur FC,5-4,Leicester City FC,2018,5,13
378,38,2018-05-13,Huddersfield Town AFC,0-1,Arsenal FC,2018,5,13
379,38,2018-05-13,Southampton FC,0-1,Manchester City FC,2018,5,13

In [12]:
team1_matches = df['Team 1'].value_counts()
team1_matches

Team 1
Arsenal FC                   19
Watford FC                   19
West Bromwich Albion FC      19
Chelsea FC                   19
Brighton & Hove Albion FC    19
Southampton FC               19
Everton FC                   19
Crystal Palace FC            19
Manchester United FC         19
Newcastle United FC          19
Swansea City FC              19
Stoke City FC                19
Burnley FC                   19
AFC Bournemouth              19
Liverpool FC                 19
Leicester City FC            19
Huddersfield Town AFC        19
Tottenham Hotspur FC         19
Manchester City FC           19
West Ham United FC           19
Name: count, dtype: int64

In [13]:
team2_matches = df['Team 2'].value_counts()
team2_matches

Team 2
Leicester City FC            19
Liverpool FC                 19
AFC Bournemouth              19
Burnley FC                   19
Manchester City FC           19
Swansea City FC              19
Stoke City FC                19
Huddersfield Town AFC        19
West Ham United FC           19
Tottenham Hotspur FC         19
Manchester United FC         19
Arsenal FC                   19
West Bromwich Albion FC      19
Watford FC                   19
Crystal Palace FC            19
Brighton & Hove Albion FC    19
Newcastle United FC          19
Chelsea FC                   19
Everton FC                   19
Southampton FC               19
Name: count, dtype: int64

In [14]:
total_matches = team1_matches.add(team2_matches, fill_value=0)
total_matches.sort_values(ascending=False)

AFC Bournemouth              38
Arsenal FC                   38
Brighton & Hove Albion FC    38
Burnley FC                   38
Chelsea FC                   38
Crystal Palace FC            38
Everton FC                   38
Huddersfield Town AFC        38
Leicester City FC            38
Liverpool FC                 38
Manchester City FC           38
Manchester United FC         38
Newcastle United FC          38
Southampton FC               38
Stoke City FC                38
Swansea City FC              38
Tottenham Hotspur FC         38
Watford FC                   38
West Bromwich Albion FC      38
West Ham United FC           38
Name: count, dtype: int64

In [15]:
df[['Team1_Goals', 'Team2_Goals']] = df['FT'].str.split('-', expand=True).astype(int)

In [16]:
df

,Round,Date,Team 1,FT,Team 2,Year,Month,Day,Team1_Goals,Team2_Goals
0,1,2017-08-11,Arsenal FC,4-3,Leicester City FC,2017,8,11,4,3
1,1,2017-08-12,Watford FC,3-3,Liverpool FC,2017,8,12,3,3
2,1,2017-08-12,West Bromwich Albion FC,1-0,AFC Bournemouth,2017,8,12,1,0
3,1,2017-08-12,Chelsea FC,2-3,Burnley FC,2017,8,12,2,3
4,1,2017-08-12,Brighton & Hove Albion FC,0-2,Manchester City FC,2017,8,12,0,2
...,...,...,...,...,...,...,...,...,...,...
375,38,2018-05-13,Burnley FC,1-2,AFC Bournemouth,2018,5,13,1,2
376,38,2018-05-13,Crystal Palace FC,2-0,West Bromwich Albion FC,2018,5,13,2,0
377,38,2018-05-13,Tottenham Hotspur FC,5-4,Leicester City FC,2018,5,13,5,4
378,38,2018-05-13,Huddersfield Town AFC,0-1,Arsenal FC,2018,5,13,0,1
379,38,2018-05-13,Southampton FC,0-1,Manchester City FC,2018,5,13,0,1

In [17]:
df["Total_Goals"] = df["Team1_Goals"] + df["Team2_Goals"]

In [18]:
df

,Round,Date,Team 1,FT,Team 2,Year,Month,Day,Team1_Goals,Team2_Goals,Total_Goals
0,1,2017-08-11,Arsenal FC,4-3,Leicester City FC,2017,8,11,4,3,7
1,1,2017-08-12,Watford FC,3-3,Liverpool FC,2017,8,12,3,3,6
2,1,2017-08-12,West Bromwich Albion FC,1-0,AFC Bournemouth,2017,8,12,1,0,1
3,1,2017-08-12,Chelsea FC,2-3,Burnley FC,2017,8,12,2,3,5
4,1,2017-08-12,Brighton & Hove Albion FC,0-2,Manchester City FC,2017,8,12,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...
375,38,2018-05-13,Burnley FC,1-2,AFC Bournemouth,2018,5,13,1,2,3
376,38,2018-05-13,Crystal Palace FC,2-0,West Bromwich Albion FC,2018,5,13,2,0,2
377,38,2018-05-13,Tottenham Hotspur FC,5-4,Leicester City FC,2018,5,13,5,4,9
378,38,2018-05-13,Huddersfield Town AFC,0-1,Arsenal FC,2018,5,13,0,1,1
379,38,2018-05-13,Southampton FC,0-1,Manchester City FC,2018,5,13,0,1,1

### Highest Scoring Matches (Top 5)

In [19]:
df.sort_values(by="Total_Goals", ascending=False).head(5)

,Round,Date,Team 1,FT,Team 2,Year,Month,Day,Team1_Goals,Team2_Goals,Total_Goals
377,38,2018-05-13,Tottenham Hotspur FC,5-4,Leicester City FC,2018,5,13,5,4,9
72,8,2017-10-14,Manchester City FC,7-2,Stoke City FC,2017,10,14,7,2,9
197,20,2017-12-26,Tottenham Hotspur FC,5-2,Southampton FC,2017,12,26,5,2,7
88,9,2017-10-22,Everton FC,2-5,Arsenal FC,2017,10,22,2,5,7
228,23,2018-01-14,Liverpool FC,4-3,Manchester City FC,2018,1,14,4,3,7

### Team 1 vs Team 2 Win Analysis

In [20]:
df["Result"] = df.apply(
    lambda x: "Team 1 Win" if x["Team1_Goals"] > x["Team2_Goals"]
    else "Team 2 Win" if x["Team1_Goals"] < x["Team2_Goals"]
    else "Draw",
    axis=1
)

In [21]:
df["Result"].value_counts()

Result
Team 1 Win    173
Team 2 Win    108
Draw           99
Name: count, dtype: int64

### Average Goals by Team 1 (Home Team)

In [22]:
df.groupby("Team 1")["Team1_Goals"].mean().sort_values(ascending=False)

Team 1
Manchester City FC           3.210526
Arsenal FC                   2.842105
Liverpool FC                 2.368421
Tottenham Hotspur FC         2.105263
Manchester United FC         2.000000
Chelsea FC                   1.578947
Crystal Palace FC            1.526316
Everton FC                   1.473684
Watford FC                   1.421053
AFC Bournemouth              1.368421
Leicester City FC            1.315789
Brighton & Hove Albion FC    1.263158
West Ham United FC           1.263158
West Bromwich Albion FC      1.105263
Newcastle United FC          1.105263
Stoke City FC                1.052632
Southampton FC               1.052632
Swansea City FC              0.894737
Burnley FC                   0.842105
Huddersfield Town AFC        0.842105
Name: Team1_Goals, dtype: float64

### Average Goals by Team 2 (Away Team)

In [23]:
df.groupby("Team 2")["Team2_Goals"].mean().sort_values(ascending=False)

Team 2
Manchester City FC           2.368421
Liverpool FC                 2.052632
Tottenham Hotspur FC         1.789474
Chelsea FC                   1.684211
Leicester City FC            1.631579
Manchester United FC         1.578947
West Ham United FC           1.263158
Arsenal FC                   1.052632
Burnley FC                   1.052632
AFC Bournemouth              1.000000
Newcastle United FC          0.947368
Watford FC                   0.894737
Southampton FC               0.894737
Crystal Palace FC            0.842105
Everton FC                   0.842105
Stoke City FC                0.789474
Huddersfield Town AFC        0.631579
Swansea City FC              0.578947
Brighton & Hove Albion FC    0.526316
West Bromwich Albion FC      0.526316
Name: Team2_Goals, dtype: float64

### Matches per Month (Time Series Analysis

In [24]:
df.groupby('Month').size()

Month
1     41
2     29
3     33
4     42
5     26
8     30
9     37
10    33
11    40
12    69
dtype: int64

In [25]:
df[df['Result'] == 'Draw'].shape[0]

99

In [26]:
df

,Round,Date,Team 1,FT,Team 2,Year,Month,Day,Team1_Goals,Team2_Goals,Total_Goals,Result
0,1,2017-08-11,Arsenal FC,4-3,Leicester City FC,2017,8,11,4,3,7,Team 1 Win
1,1,2017-08-12,Watford FC,3-3,Liverpool FC,2017,8,12,3,3,6,Draw
2,1,2017-08-12,West Bromwich Albion FC,1-0,AFC Bournemouth,2017,8,12,1,0,1,Team 1 Win
3,1,2017-08-12,Chelsea FC,2-3,Burnley FC,2017,8,12,2,3,5,Team 2 Win
4,1,2017-08-12,Brighton & Hove Albion FC,0-2,Manchester City FC,2017,8,12,0,2,2,Team 2 Win
...,...,...,...,...,...,...,...,...,...,...,...,...
375,38,2018-05-13,Burnley FC,1-2,AFC Bournemouth,2018,5,13,1,2,3,Team 2 Win
376,38,2018-05-13,Crystal Palace FC,2-0,West Bromwich Albion FC,2018,5,13,2,0,2,Team 1 Win
377,38,2018-05-13,Tottenham Hotspur FC,5-4,Leicester City FC,2018,5,13,5,4,9,Team 1 Win
378,38,2018-05-13,Huddersfield Town AFC,0-1,Arsenal FC,2018,5,13,0,1,1,Team 2 Win
379,38,2018-05-13,Southampton FC,0-1,Manchester City FC,2018,5,13,0,1,1,Team 2 Win

## Manchester United Team Analysis

In [27]:
manu = df[(df["Team 1"] == "Manchester United FC") | (df["Team 2"] == "Manchester United FC")].copy()

In [28]:
manu

,Round,Date,Team 1,FT,Team 2,Year,Month,Day,Team1_Goals,Team2_Goals,Total_Goals,Result
8,1,2017-08-13,Manchester United FC,4-0,West Ham United FC,2017,8,13,4,0,4,Team 1 Win
10,2,2017-08-19,Swansea City FC,0-4,Manchester United FC,2017,8,19,0,4,4,Team 2 Win
24,3,2017-08-26,Manchester United FC,2-0,Leicester City FC,2017,8,26,2,0,2,Team 1 Win
32,4,2017-09-09,Stoke City FC,2-2,Manchester United FC,2017,9,9,2,2,4,Draw
49,5,2017-09-17,Manchester United FC,4-0,Everton FC,2017,9,17,4,0,4,Team 1 Win
51,6,2017-09-23,Southampton FC,0-1,Manchester United FC,2017,9,23,0,1,1,Team 2 Win
61,7,2017-09-30,Manchester United FC,4-0,Crystal Palace FC,2017,9,30,4,0,4,Team 1 Win
71,8,2017-10-14,Liverpool FC,0-0,Manchester United FC,2017,10,14,0,0,0,Draw
83,9,2017-10-21,Huddersfield Town AFC,2-1,Manchester United FC,2017,10,21,2,1,3,Team 1 Win
92,10,2017-10-28,Manchester United FC,1-0,Tottenham Hotspur FC,2017,10,28,1,0,1,Team 1 Win
108,11,2017-11-05,Chelsea FC,1-0,Manchester United FC,2017,11,5,1,0,1,Team 1 Win
112,12,2017-11-18,Manchester United FC,4-1,Newcastle United FC,2017,11,18,4,1,5,Team 1 Win
125,13,2017-11-25,Manchester United FC,1-0,Brighton & Hove Albion FC,2017,11,25,1,0,1,Team 1 Win
133,14,2017-11-28,Watford FC,2-4,Manchester United FC,2017,11,28,2,4,6,Team 2 Win
144,15,2017-12-02,Arsenal FC,1-3,Manchester United FC,2017,12,2,1,3,4,Team 2 Win
159,16,2017-12-10,Manchester United FC,1-2,Manchester City FC,2017,12,10,1,2,3,Team 2 Win
164,17,2017-12-13,Manchester United FC,1-0,AFC Bournemouth,2017,12,13,1,0,1,Team 1 Win
177,18,2017-12-17,West Bromwich Albion FC,1-2,Manchester United FC,2017,12,17,1,2,3,Team 2 Win
187,19,2017-12-23,Leicester City FC,2-2,Manchester United FC,2017,12,23,2,2,4,Draw
194,20,2017-12-26,Manchester United FC,2-2,Burnley FC,2017,12,26,2,2,4,Draw
205,21,2017-12-30,Manchester United FC,0-0,Southampton FC,2017,12,30,0,0,0,Draw
212,22,2018-01-01,Everton FC,0-2,Manchester United FC,2018,1,1,0,2,2,Team 2 Win
229,23,2018-01-15,Manchester United FC,3-0,Stoke City FC,2018,1,15,3,0,3,Team 1 Win
233,24,2018-01-20,Burnley FC,0-1,Manchester United FC,2018,1,20,0,1,1,Team 2 Win
247,25,2018-01-31,Tottenham Hotspur FC,2-0,Manchester United FC,2018,1,31,2,0,2,Team 1 Win
255,26,2018-02-03,Manchester United FC,2-0,Huddersfield Town AFC,2018,2,3,2,0,2,Team 1 Win
267,27,2018-02-11,Newcastle United FC,1-0,Manchester United FC,2018,2,11,1,0,1,Team 1 Win
278,28,2018-02-25,Manchester United FC,2-1,Chelsea FC,2018,2,25,2,1,3,Team 1 Win
289,29,2018-03-05,Crystal Palace FC,2-3,Manchester United FC,2018,3,5,2,3,5,Team 2 Win
290,30,2018-03-10,Manchester United FC,2-1,Liverpool FC,2018,3,10,2,1,3,Team 1 Win
307,32,2018-03-31,Manchester United FC,2-0,Swansea City FC,2018,3,31,2,0,2,Team 1 Win
318,33,2018-04-07,Manchester City FC,2-3,Manchester United FC,2018,4,7,2,3,5,Team 2 Win
332,34,2018-04-15,Manchester United FC,0-1,West Bromwich Albion FC,2018,4,15,0,1,1,Team 2 Win
335,35,2018-04-18,AFC Bournemouth,0-2,Manchester United FC,2018,4,18,0,2,2,Team 2 Win
352,36,2018-04-29,Manchester United FC,2-1,Arsenal FC,2018,4,29,2,1,3,Team 1 Win
354,37,2018-05-04,Brighton & Hove Albion FC,1-0,Manchester United FC,2018,5,4,1,0,1,Team 1 Win
369,31,2018-05-10,West Ham United FC,0-0,Manchester United FC,2018,5,10,0,0,0,Draw
371,38,2018-05-13,Manchester United FC,1-0,Watford FC,2018,5,13,1,0,1,Team 1 Win

In [29]:
manu[manu["Total_Goals"] >= 3]

,Round,Date,Team 1,FT,Team 2,Year,Month,Day,Team1_Goals,Team2_Goals,Total_Goals,Result
8,1,2017-08-13,Manchester United FC,4-0,West Ham United FC,2017,8,13,4,0,4,Team 1 Win
10,2,2017-08-19,Swansea City FC,0-4,Manchester United FC,2017,8,19,0,4,4,Team 2 Win
32,4,2017-09-09,Stoke City FC,2-2,Manchester United FC,2017,9,9,2,2,4,Draw
49,5,2017-09-17,Manchester United FC,4-0,Everton FC,2017,9,17,4,0,4,Team 1 Win
61,7,2017-09-30,Manchester United FC,4-0,Crystal Palace FC,2017,9,30,4,0,4,Team 1 Win
83,9,2017-10-21,Huddersfield Town AFC,2-1,Manchester United FC,2017,10,21,2,1,3,Team 1 Win
112,12,2017-11-18,Manchester United FC,4-1,Newcastle United FC,2017,11,18,4,1,5,Team 1 Win
133,14,2017-11-28,Watford FC,2-4,Manchester United FC,2017,11,28,2,4,6,Team 2 Win
144,15,2017-12-02,Arsenal FC,1-3,Manchester United FC,2017,12,2,1,3,4,Team 2 Win
159,16,2017-12-10,Manchester United FC,1-2,Manchester City FC,2017,12,10,1,2,3,Team 2 Win
177,18,2017-12-17,West Bromwich Albion FC,1-2,Manchester United FC,2017,12,17,1,2,3,Team 2 Win
187,19,2017-12-23,Leicester City FC,2-2,Manchester United FC,2017,12,23,2,2,4,Draw
194,20,2017-12-26,Manchester United FC,2-2,Burnley FC,2017,12,26,2,2,4,Draw
229,23,2018-01-15,Manchester United FC,3-0,Stoke City FC,2018,1,15,3,0,3,Team 1 Win
278,28,2018-02-25,Manchester United FC,2-1,Chelsea FC,2018,2,25,2,1,3,Team 1 Win
289,29,2018-03-05,Crystal Palace FC,2-3,Manchester United FC,2018,3,5,2,3,5,Team 2 Win
290,30,2018-03-10,Manchester United FC,2-1,Liverpool FC,2018,3,10,2,1,3,Team 1 Win
318,33,2018-04-07,Manchester City FC,2-3,Manchester United FC,2018,4,7,2,3,5,Team 2 Win
352,36,2018-04-29,Manchester United FC,2-1,Arsenal FC,2018,4,29,2,1,3,Team 1 Win

In [30]:
manu[["Home_Goals", "Away_Goals"]] = df["FT"].str.split('-', expand=True).astype(int)

In [31]:
manu

,Round,Date,Team 1,FT,Team 2,Year,Month,Day,Team1_Goals,Team2_Goals,Total_Goals,Result,Home_Goals,Away_Goals
8,1,2017-08-13,Manchester United FC,4-0,West Ham United FC,2017,8,13,4,0,4,Team 1 Win,4,0
10,2,2017-08-19,Swansea City FC,0-4,Manchester United FC,2017,8,19,0,4,4,Team 2 Win,0,4
24,3,2017-08-26,Manchester United FC,2-0,Leicester City FC,2017,8,26,2,0,2,Team 1 Win,2,0
32,4,2017-09-09,Stoke City FC,2-2,Manchester United FC,2017,9,9,2,2,4,Draw,2,2
49,5,2017-09-17,Manchester United FC,4-0,Everton FC,2017,9,17,4,0,4,Team 1 Win,4,0
51,6,2017-09-23,Southampton FC,0-1,Manchester United FC,2017,9,23,0,1,1,Team 2 Win,0,1
61,7,2017-09-30,Manchester United FC,4-0,Crystal Palace FC,2017,9,30,4,0,4,Team 1 Win,4,0
71,8,2017-10-14,Liverpool FC,0-0,Manchester United FC,2017,10,14,0,0,0,Draw,0,0
83,9,2017-10-21,Huddersfield Town AFC,2-1,Manchester United FC,2017,10,21,2,1,3,Team 1 Win,2,1
92,10,2017-10-28,Manchester United FC,1-0,Tottenham Hotspur FC,2017,10,28,1,0,1,Team 1 Win,1,0
108,11,2017-11-05,Chelsea FC,1-0,Manchester United FC,2017,11,5,1,0,1,Team 1 Win,1,0
112,12,2017-11-18,Manchester United FC,4-1,Newcastle United FC,2017,11,18,4,1,5,Team 1 Win,4,1
125,13,2017-11-25,Manchester United FC,1-0,Brighton & Hove Albion FC,2017,11,25,1,0,1,Team 1 Win,1,0
133,14,2017-11-28,Watford FC,2-4,Manchester United FC,2017,11,28,2,4,6,Team 2 Win,2,4
144,15,2017-12-02,Arsenal FC,1-3,Manchester United FC,2017,12,2,1,3,4,Team 2 Win,1,3
159,16,2017-12-10,Manchester United FC,1-2,Manchester City FC,2017,12,10,1,2,3,Team 2 Win,1,2
164,17,2017-12-13,Manchester United FC,1-0,AFC Bournemouth,2017,12,13,1,0,1,Team 1 Win,1,0
177,18,2017-12-17,West Bromwich Albion FC,1-2,Manchester United FC,2017,12,17,1,2,3,Team 2 Win,1,2
187,19,2017-12-23,Leicester City FC,2-2,Manchester United FC,2017,12,23,2,2,4,Draw,2,2
194,20,2017-12-26,Manchester United FC,2-2,Burnley FC,2017,12,26,2,2,4,Draw,2,2
205,21,2017-12-30,Manchester United FC,0-0,Southampton FC,2017,12,30,0,0,0,Draw,0,0
212,22,2018-01-01,Everton FC,0-2,Manchester United FC,2018,1,1,0,2,2,Team 2 Win,0,2
229,23,2018-01-15,Manchester United FC,3-0,Stoke City FC,2018,1,15,3,0,3,Team 1 Win,3,0
233,24,2018-01-20,Burnley FC,0-1,Manchester United FC,2018,1,20,0,1,1,Team 2 Win,0,1
247,25,2018-01-31,Tottenham Hotspur FC,2-0,Manchester United FC,2018,1,31,2,0,2,Team 1 Win,2,0
255,26,2018-02-03,Manchester United FC,2-0,Huddersfield Town AFC,2018,2,3,2,0,2,Team 1 Win,2,0
267,27,2018-02-11,Newcastle United FC,1-0,Manchester United FC,2018,2,11,1,0,1,Team 1 Win,1,0
278,28,2018-02-25,Manchester United FC,2-1,Chelsea FC,2018,2,25,2,1,3,Team 1 Win,2,1
289,29,2018-03-05,Crystal Palace FC,2-3,Manchester United FC,2018,3,5,2,3,5,Team 2 Win,2,3
290,30,2018-03-10,Manchester United FC,2-1,Liverpool FC,2018,3,10,2,1,3,Team 1 Win,2,1
307,32,2018-03-31,Manchester United FC,2-0,Swansea City FC,2018,3,31,2,0,2,Team 1 Win,2,0
318,33,2018-04-07,Manchester City FC,2-3,Manchester United FC,2018,4,7,2,3,5,Team 2 Win,2,3
332,34,2018-04-15,Manchester United FC,0-1,West Bromwich Albion FC,2018,4,15,0,1,1,Team 2 Win,0,1
335,35,2018-04-18,AFC Bournemouth,0-2,Manchester United FC,2018,4,18,0,2,2,Team 2 Win,0,2
352,36,2018-04-29,Manchester United FC,2-1,Arsenal FC,2018,4,29,2,1,3,Team 1 Win,2,1
354,37,2018-05-04,Brighton & Hove Albion FC,1-0,Manchester United FC,2018,5,4,1,0,1,Team 1 Win,1,0
369,31,2018-05-10,West Ham United FC,0-0,Manchester United FC,2018,5,10,0,0,0,Draw,0,0
371,38,2018-05-13,Manchester United FC,1-0,Watford FC,2018,5,13,1,0,1,Team 1 Win,1,0

### Home Game Analysis

In [32]:
goals = manu["Home_Goals"].sum()
avg = manu["Home_Goals"].mean()
max_goal = manu["Home_Goals"].max()
std_goal = manu["Home_Goals"].std()

print(f"Total Home Goals: {goals}")
print(f"Avg Home Goals Per Game: {avg}")
print(f"Max Goals at Home: {max_goal}")
print(f"Std Goals at Home: {std_goal}")

Total Home Goals: 57
Avg Home Goals Per Game: 1.5
Max Goals at Home: 4
Std Goals at Home: 1.202474925287819

In [33]:
goals = manu["Away_Goals"].sum()
avg = manu["Away_Goals"].mean()
max_goal = manu["Away_Goals"].max()
std_goal = manu["Away_Goals"].std()

print(f"Total Away Goals: {goals}")
print(f"Avg Away Goals Per Game: {avg}")
print(f"Max Goals at Away: {max_goal}")
print(f"Std Goals at Away: {std_goal}")

Total Away Goals: 39
Avg Away Goals Per Game: 1.0263157894736843
Max Goals at Away: 4
Std Goals at Away: 1.2189238076816549

In [34]:
total_goals = manu["Home_Goals"].sum() + manu["Away_Goals"].sum()
print("Total Scored by Manchester United:",total_goals)

Total Scored by Manchester United: 96

In [35]:
manu

,Round,Date,Team 1,FT,Team 2,Year,Month,Day,Team1_Goals,Team2_Goals,Total_Goals,Result,Home_Goals,Away_Goals
8,1,2017-08-13,Manchester United FC,4-0,West Ham United FC,2017,8,13,4,0,4,Team 1 Win,4,0
10,2,2017-08-19,Swansea City FC,0-4,Manchester United FC,2017,8,19,0,4,4,Team 2 Win,0,4
24,3,2017-08-26,Manchester United FC,2-0,Leicester City FC,2017,8,26,2,0,2,Team 1 Win,2,0
32,4,2017-09-09,Stoke City FC,2-2,Manchester United FC,2017,9,9,2,2,4,Draw,2,2
49,5,2017-09-17,Manchester United FC,4-0,Everton FC,2017,9,17,4,0,4,Team 1 Win,4,0
51,6,2017-09-23,Southampton FC,0-1,Manchester United FC,2017,9,23,0,1,1,Team 2 Win,0,1
61,7,2017-09-30,Manchester United FC,4-0,Crystal Palace FC,2017,9,30,4,0,4,Team 1 Win,4,0
71,8,2017-10-14,Liverpool FC,0-0,Manchester United FC,2017,10,14,0,0,0,Draw,0,0
83,9,2017-10-21,Huddersfield Town AFC,2-1,Manchester United FC,2017,10,21,2,1,3,Team 1 Win,2,1
92,10,2017-10-28,Manchester United FC,1-0,Tottenham Hotspur FC,2017,10,28,1,0,1,Team 1 Win,1,0
108,11,2017-11-05,Chelsea FC,1-0,Manchester United FC,2017,11,5,1,0,1,Team 1 Win,1,0
112,12,2017-11-18,Manchester United FC,4-1,Newcastle United FC,2017,11,18,4,1,5,Team 1 Win,4,1
125,13,2017-11-25,Manchester United FC,1-0,Brighton & Hove Albion FC,2017,11,25,1,0,1,Team 1 Win,1,0
133,14,2017-11-28,Watford FC,2-4,Manchester United FC,2017,11,28,2,4,6,Team 2 Win,2,4
144,15,2017-12-02,Arsenal FC,1-3,Manchester United FC,2017,12,2,1,3,4,Team 2 Win,1,3
159,16,2017-12-10,Manchester United FC,1-2,Manchester City FC,2017,12,10,1,2,3,Team 2 Win,1,2
164,17,2017-12-13,Manchester United FC,1-0,AFC Bournemouth,2017,12,13,1,0,1,Team 1 Win,1,0
177,18,2017-12-17,West Bromwich Albion FC,1-2,Manchester United FC,2017,12,17,1,2,3,Team 2 Win,1,2
187,19,2017-12-23,Leicester City FC,2-2,Manchester United FC,2017,12,23,2,2,4,Draw,2,2
194,20,2017-12-26,Manchester United FC,2-2,Burnley FC,2017,12,26,2,2,4,Draw,2,2
205,21,2017-12-30,Manchester United FC,0-0,Southampton FC,2017,12,30,0,0,0,Draw,0,0
212,22,2018-01-01,Everton FC,0-2,Manchester United FC,2018,1,1,0,2,2,Team 2 Win,0,2
229,23,2018-01-15,Manchester United FC,3-0,Stoke City FC,2018,1,15,3,0,3,Team 1 Win,3,0
233,24,2018-01-20,Burnley FC,0-1,Manchester United FC,2018,1,20,0,1,1,Team 2 Win,0,1
247,25,2018-01-31,Tottenham Hotspur FC,2-0,Manchester United FC,2018,1,31,2,0,2,Team 1 Win,2,0
255,26,2018-02-03,Manchester United FC,2-0,Huddersfield Town AFC,2018,2,3,2,0,2,Team 1 Win,2,0
267,27,2018-02-11,Newcastle United FC,1-0,Manchester United FC,2018,2,11,1,0,1,Team 1 Win,1,0
278,28,2018-02-25,Manchester United FC,2-1,Chelsea FC,2018,2,25,2,1,3,Team 1 Win,2,1
289,29,2018-03-05,Crystal Palace FC,2-3,Manchester United FC,2018,3,5,2,3,5,Team 2 Win,2,3
290,30,2018-03-10,Manchester United FC,2-1,Liverpool FC,2018,3,10,2,1,3,Team 1 Win,2,1
307,32,2018-03-31,Manchester United FC,2-0,Swansea City FC,2018,3,31,2,0,2,Team 1 Win,2,0
318,33,2018-04-07,Manchester City FC,2-3,Manchester United FC,2018,4,7,2,3,5,Team 2 Win,2,3
332,34,2018-04-15,Manchester United FC,0-1,West Bromwich Albion FC,2018,4,15,0,1,1,Team 2 Win,0,1
335,35,2018-04-18,AFC Bournemouth,0-2,Manchester United FC,2018,4,18,0,2,2,Team 2 Win,0,2
352,36,2018-04-29,Manchester United FC,2-1,Arsenal FC,2018,4,29,2,1,3,Team 1 Win,2,1
354,37,2018-05-04,Brighton & Hove Albion FC,1-0,Manchester United FC,2018,5,4,1,0,1,Team 1 Win,1,0
369,31,2018-05-10,West Ham United FC,0-0,Manchester United FC,2018,5,10,0,0,0,Draw,0,0
371,38,2018-05-13,Manchester United FC,1-0,Watford FC,2018,5,13,1,0,1,Team 1 Win,1,0

In [40]:
import matplotlib.pyplot as plt
import pandas as pd

In [42]:
home_goals = manu["Home_Goals"]

In [43]:
plt.plot(

8      4
10     0
24     2
32     2
49     4
51     0
61     4
71     0
83     2
92     1
108    1
112    4
125    1
133    2
144    1
159    1
164    1
177    1
187    2
194    2
205    0
212    0
229    3
233    0
247    2
255    2
267    1
278    2
289    2
290    2
307    2
318    2
332    0
335    0
352    2
354    1
369    0
371    1
Name: Home_Goals, dtype: int64