In [1]:
import pandas as pd

financials = pd.DataFrame({
    "Year": [2021, 2022, 2023],
    "Revenue": [500000, 620000, 750000],
    "COGS": [300000, 360000, 420000],
    "Gross_Profit": [200000, 260000, 330000],
    "Operating_Expenses": [120000, 150000, 180000],
    "Net_Income": [50000, 70000, 90000],
    "Current_Assets": [200000, 230000, 260000],
    "Current_Liabilities": [120000, 140000, 160000],
    "Total_Assets": [600000, 680000, 750000],
    "Total_Liabilities": [350000, 390000, 420000],
    "Equity": [250000, 290000, 330000]
})

In [2]:
financials["Gross_Profit_Margin"] = (financials["Revenue"] - financials["COGS"]) / financials["Revenue"]
financials

,Year,Revenue,COGS,Gross_Profit,Operating_Expenses,Net_Income,Current_Assets,Current_Liabilities,Total_Assets,Total_Liabilities,Equity,Gross_Profit_Margin
0,2021,500000,300000,200000,120000,50000,200000,120000,600000,350000,250000,0.400000
1,2022,620000,360000,260000,150000,70000,230000,140000,680000,390000,290000,0.419355
2,2023,750000,420000,330000,180000,90000,260000,160000,750000,420000,330000,0.440000

In [3]:
financials["Operating_Income"] = (financials["Revenue"] - financials["COGS"] - financials["Operating_Expenses"])

In [4]:
financials

,Year,Revenue,COGS,Gross_Profit,Operating_Expenses,Net_Income,Current_Assets,Current_Liabilities,Total_Assets,Total_Liabilities,Equity,Gross_Profit_Margin,Operating_Income
0,2021,500000,300000,200000,120000,50000,200000,120000,600000,350000,250000,0.400000,80000
1,2022,620000,360000,260000,150000,70000,230000,140000,680000,390000,290000,0.419355,110000
2,2023,750000,420000,330000,180000,90000,260000,160000,750000,420000,330000,0.440000,150000

In [5]:
financials["Operating_Margin"] = (financials["Operating_Income"] / financials["Revenue"])

In [6]:
financials

,Year,Revenue,COGS,Gross_Profit,Operating_Expenses,Net_Income,Current_Assets,Current_Liabilities,Total_Assets,Total_Liabilities,Equity,Gross_Profit_Margin,Operating_Income,Operating_Margin
0,2021,500000,300000,200000,120000,50000,200000,120000,600000,350000,250000,0.400000,80000,0.160000
1,2022,620000,360000,260000,150000,70000,230000,140000,680000,390000,290000,0.419355,110000,0.177419
2,2023,750000,420000,330000,180000,90000,260000,160000,750000,420000,330000,0.440000,150000,0.200000

In [7]:
financials["Net_Profit_Margin"] = (financials["Net_Income"] / financials["Revenue"])

In [8]:
financials

,Year,Revenue,COGS,Gross_Profit,Operating_Expenses,Net_Income,Current_Assets,Current_Liabilities,Total_Assets,Total_Liabilities,Equity,Gross_Profit_Margin,Operating_Income,Operating_Margin,Net_Profit_Margin
0,2021,500000,300000,200000,120000,50000,200000,120000,600000,350000,250000,0.400000,80000,0.160000,0.100000
1,2022,620000,360000,260000,150000,70000,230000,140000,680000,390000,290000,0.419355,110000,0.177419,0.112903
2,2023,750000,420000,330000,180000,90000,260000,160000,750000,420000,330000,0.440000,150000,0.200000,0.120000

In [9]:
financials["Current_Ratio"] = (financials["Current_Assets"] / financials["Current_Liabilities"])

In [10]:
financials

,Year,Revenue,COGS,Gross_Profit,Operating_Expenses,Net_Income,Current_Assets,Current_Liabilities,Total_Assets,Total_Liabilities,Equity,Gross_Profit_Margin,Operating_Income,Operating_Margin,Net_Profit_Margin,Current_Ratio
0,2021,500000,300000,200000,120000,50000,200000,120000,600000,350000,250000,0.400000,80000,0.160000,0.100000,1.666667
1,2022,620000,360000,260000,150000,70000,230000,140000,680000,390000,290000,0.419355,110000,0.177419,0.112903,1.642857
2,2023,750000,420000,330000,180000,90000,260000,160000,750000,420000,330000,0.440000,150000,0.200000,0.120000,1.625000

In [11]:
financials["Working_Cap"] = (financials["Current_Assets"] - financials["Current_Liabilities"])

In [12]:
financials

,Year,Revenue,COGS,Gross_Profit,Operating_Expenses,Net_Income,Current_Assets,Current_Liabilities,Total_Assets,Total_Liabilities,Equity,Gross_Profit_Margin,Operating_Income,Operating_Margin,Net_Profit_Margin,Current_Ratio,Working_Cap
0,2021,500000,300000,200000,120000,50000,200000,120000,600000,350000,250000,0.400000,80000,0.160000,0.100000,1.666667,80000
1,2022,620000,360000,260000,150000,70000,230000,140000,680000,390000,290000,0.419355,110000,0.177419,0.112903,1.642857,90000
2,2023,750000,420000,330000,180000,90000,260000,160000,750000,420000,330000,0.440000,150000,0.200000,0.120000,1.625000,100000

In [13]:
financials["Debt_to_Equity_Ratio"] = (financials["Total_Liabilities"] / financials["Equity"])

In [14]:
financials

,Year,Revenue,COGS,Gross_Profit,Operating_Expenses,Net_Income,Current_Assets,Current_Liabilities,Total_Assets,Total_Liabilities,Equity,Gross_Profit_Margin,Operating_Income,Operating_Margin,Net_Profit_Margin,Current_Ratio,Working_Cap,Debt_to_Equity_Ratio
0,2021,500000,300000,200000,120000,50000,200000,120000,600000,350000,250000,0.400000,80000,0.160000,0.100000,1.666667,80000,1.400000
1,2022,620000,360000,260000,150000,70000,230000,140000,680000,390000,290000,0.419355,110000,0.177419,0.112903,1.642857,90000,1.344828
2,2023,750000,420000,330000,180000,90000,260000,160000,750000,420000,330000,0.440000,150000,0.200000,0.120000,1.625000,100000,1.272727

In [15]:
financials["Debt_Ratios"] = (financials["Total_Liabilities"] / financials["Total_Assets

In [16]:
financials

,Year,Revenue,COGS,Gross_Profit,Operating_Expenses,Net_Income,Current_Assets,Current_Liabilities,Total_Assets,Total_Liabilities,Equity,Gross_Profit_Margin,Operating_Income,Operating_Margin,Net_Profit_Margin,Current_Ratio,Working_Cap,Debt_to_Equity_Ratio,Debt_Ratios
0,2021,500000,300000,200000,120000,50000,200000,120000,600000,350000,250000,0.400000,80000,0.160000,0.100000,1.666667,80000,1.400000,0.583333
1,2022,620000,360000,260000,150000,70000,230000,140000,680000,390000,290000,0.419355,110000,0.177419,0.112903,1.642857,90000,1.344828,0.573529
2,2023,750000,420000,330000,180000,90000,260000,160000,750000,420000,330000,0.440000,150000,0.200000,0.120000,1.625000,100000,1.272727,0.560000

In [17]:
companies = pd.DataFrame({
    "Company": ["Alpha", "Beta", "Gamma"],
    "Revenue": [800000, 600000, 900000],
    "Net_Income": [120000, 45000, 150000],
    "Total_Assets": [900000, 700000, 1000000],
    "Equity": [400000, 250000, 500000]
})

In [18]:
companies

  Company  Revenue  Net_Income  Total_Assets  Equity
0   Alpha   800000      120000        900000  400000
1    Beta   600000       45000        700000  250000
2   Gamma   900000      150000       1000000  500000

In [19]:
companies["ROA"] = (companies["Net_Income"] / companies["Total_Assets"])

In [20]:
companies

  Company  Revenue  Net_Income  Total_Assets  Equity       ROA
0   Alpha   800000      120000        900000  400000  0.133333
1    Beta   600000       45000        700000  250000  0.064286
2   Gamma   900000      150000       1000000  500000  0.150000

In [21]:
companies["ROA_Rank"] = companies["ROA"].rank(ascending=False)

In [22]:
companies

  Company  Revenue  Net_Income  Total_Assets  Equity       ROA  ROA_Rank
0   Alpha   800000      120000        900000  400000  0.133333       2.0
1    Beta   600000       45000        700000  250000  0.064286       3.0
2   Gamma   900000      150000       1000000  500000  0.150000       1.0

In [23]:
companies_sorted = companies.sort_values(by="ROA", ascending=False)
companies_sorted

  Company  Revenue  Net_Income  Total_Assets  Equity       ROA  ROA_Rank
2   Gamma   900000      150000       1000000  500000  0.150000       1.0
0   Alpha   800000      120000        900000  400000  0.133333       2.0
1    Beta   600000       45000        700000  250000  0.064286       3.0

In [24]:
companies["ROE"] = (companies["Net_Income"] / companies["Equity"])

In [25]:
companies

  Company  Revenue  Net_Income  Total_Assets  Equity       ROA  ROA_Rank   ROE
0   Alpha   800000      120000        900000  400000  0.133333       2.0  0.30
1    Beta   600000       45000        700000  250000  0.064286       3.0  0.18
2   Gamma   900000      150000       1000000  500000  0.150000       1.0  0.30

In [26]:
companies["ROE_Rank"] = companies["ROE"].rank(ascending=False)

In [27]:
companies

,Company,Revenue,Net_Income,Total_Assets,Equity,ROA,ROA_Rank,ROE,ROE_Rank
0,Alpha,800000,120000,900000,400000,0.133333,2.0,0.30,1.5
1,Beta,600000,45000,700000,250000,0.064286,3.0,0.18,3.0
2,Gamma,900000,150000,1000000,500000,0.150000,1.0,0.30,1.5

In [28]:
companies["Leverage_Effect"] = (companies["ROE"] / companies["ROA"])

In [29]:
companies

,Company,Revenue,Net_Income,Total_Assets,Equity,ROA,ROA_Rank,ROE,ROE_Rank,Leverage_Effect
0,Alpha,800000,120000,900000,400000,0.133333,2.0,0.30,1.5,2.25
1,Beta,600000,45000,700000,250000,0.064286,3.0,0.18,3.0,2.80
2,Gamma,900000,150000,1000000,500000,0.150000,1.0,0.30,1.5,2.00

In [1]:
print("Hello World")

Hello World